.get-started {
  background-color: #fafbfd;
  // .get-started__container
  &__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      right: 267px;
      top: 0;
      transform: translate(100%, 0px);
      border-radius: 30px 0px 0px 30px;
      background-color: #ec5863;
    }
    @media (max-width: 991.98px) {
      &::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
      }
    }
    @media (max-width: 767.98px) {
      padding: 100px 15px 30px 15px;
      &::before {
        display: none;
      }
    }
  }
  // .get-started__content
  &__content {
    flex: 0 1 48%;
    padding: 0px 20px;
    @media (max-width: 767.98px) {
      flex: 1 1 100%;
      padding: 0;
    }
  }
  // .get-started__block-text
  &__block-text {
    max-width: 410px;
    @media (max-width: 767.98px) {
      max-width: none;
    }
  }
  // .get-started__video
  &__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;
    @media (max-width: 767.98px) {
      padding: 0;
    }
  }
  // .get-started__image
  &__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
    img {
      max-width: 100%;
    }
    @media (max-width: 767.98px) {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 0px;
    }
  }
}

.block-text {
  // .block-text_center
  &_center {
    text-align: center;
  }
  // .block-text__title
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
    span {
      color: #ec5863;
    }
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
    @media (max-width: 767.98px) {
      font-size: 34px;
    }
  }
  // .block-text__title_blue
  &__title_blue {
    span {
      color: #4285f4;
    }
  }
  // .block-text__text
  &__text {
    line-height: 138.5%;
    letter-spacing: 0.5px;
    &_mw {
      max-width: 620px;
      margin: 0px auto;
    }
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }
  }
  // .block-text__button
  &__button {
  }
}

.video-get-started {
  display: inline-flex;
  align-items: center;
  // .video-get-started__icon
  &__icon {
    flex: 0 0 44px;
  }
  // .video-get-started__body
  &__body {
    padding: 0px 0px 0px 12px;
  }
  // .video-get-started__title
  &__title {
    color: #b0b0b0;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 1.2px;
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }
  // .video-get-started__text
  &__text {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 1.5px;
    color: #000;
  }
}
