.healthcare {
  padding: 80px 0px 50px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 30px 0px;
  }
  // .healthcare__container
  &__container {
  }
  // .healthcare__block-text
  &__block-text {
    margin: 0px 0px 45px 0px;
  }
  // .healthcare__items
  &__items {
    display: flex;
    max-width: 980px;
    margin: 0px auto;
    gap: 72px;
    @media (max-width: 1087px) {
      gap: 30px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  // .healthcare__item
  &__item {
  }
  // .healthcare__column
  &__column {
    flex: 0 1 33.333%;
    position: relative;
    // .healthcare__column_1
    &_1 {
      &::after,
      &::before {
        content: '';
        position: absolute;
        background-color: #ec5863;
      }
      &::before {
        width: 65px;
        height: 65px;
        border-radius: 16px;
        bottom: -27px;
        left: -20px;
        transform: rotate(-30deg);
      }
      &::after {
        width: 97px;
        height: 97px;
        border-radius: 30px;
        top: 50px;
        right: -50px;
        transform: rotate(20deg);
      }
      @media (max-width: 991.98px) {
        &::before,
        &::after {
          display: none;
        }
      }
    }
    // .healthcare__column_2
    &_2 {
      &::before {
        content: '';
        position: absolute;
        background-color: #ec5863;
        width: 127px;
        height: 127px;
        border-radius: 30px;
        bottom: -20px;
        right: -80px;
        transform: rotate(60deg);
      }
      @media (max-width: 991.98px) {
        &::before {
          display: none;
        }
      }
    }
    // .healthcare__column_3
    &_3 {
      &::before {
        content: '';
        position: absolute;
        background-color: #ec5863;
        width: 65px;
        height: 65px;
        border-radius: 16px;
        top: -35px;
        right: -20px;
        transform: rotate(-20deg);
      }
      @media (max-width: 991.98px) {
        &::before {
          display: none;
        }
      }
    }
  }
}

.item-healthcare {
  height: 100%;
  position: relative;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px 17px;
  // .item-healthcare__icon
  &__icon {
    margin: 0px 0px 58px 0px;
  }
  // .item-healthcare__title
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 158.5%;
    color: #000;
    margin: 0px 0px 4px 0px;
  }
  // .item-healthcare__text
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 158.5%;
    text-align: center;
    letter-spacing: 0.5px;
  }
}
